<!-- Listado de productos -->
<div class="long-title">
    <h4>Listado de productos</h4>
</div>
<dx-data-grid id="gridContainer" [dataSource]="accountDetails" [columns]="['productName', 'quantity', 'total']" [showBorders]="true">
    <dxi-column dataField="productName" alignment="right"></dxi-column>
    <dxi-column dataField="quantity" alignment="right"></dxi-column>
    <dxi-column dataField="total" alignment="right" format="currency"></dxi-column>
    <dxo-summary>
        <dxi-total-item column="total" summaryType="sum" valueFormat="currency"></dxi-total-item>
    </dxo-summary>
</dx-data-grid>
<br>
<br>
<dx-button icon="check" text="Registrar compra" type="success" [disabled]="accountDetails.length == 0" (onClick)="addAccount()"></dx-button>
<dx-button icon="remove" text="Cancelar compra" [disabled]="accountDetails.length == 0" (onClick)="cancelAccount()"></dx-button>
